{% raw %}
data_dir = "/tmp/nomad/server"

datacenter = "dc1"

region = "east"

client {
    enabled = true
    network_interface = "eth1"
    servers           = ["172.16.1.101"]
}

advertise {
  http = "{{ GetInterfaceIP `eth1` }}"
  rpc  = "{{ GetInterfaceIP `eth1` }}"
  serf = "{{ GetInterfaceIP `eth1` }}"
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

{% endraw %}
